# F1 ergast jolipca api url
VITE_JOLPICA_BASE_URL=https://api.jolpi.ca/ergast/f1/

# OpenF1 api url
VITE_OPENF1_BASE_URL=https://api.openf1.org/v1/

# OpenWeather api url
# OpenWeather requires subscription with credit card
# Add after next meeting 2/22

# pick what news feed to use at next meeting 2/22
# Place holder to test with news
VITE_F1_NEWS_URL=https://api.rss2json.com/v1/api.json?rss_url=https://racer.com/category/formula-1/feed

